# App
NODE_ENV=production
PORT=3000

# Database
DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@postgres:5432/DB_NAME
DB_USER=datahub
DB_PASSWORD=CHANGE_THIS_STRONG_PASSWORD
DB_NAME=datahub_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=CHANGE_THIS_STRONG_PASSWORD
REDIS_TTL_SECONDS=180

# JWT
JWT_SECRET=CHANGE_THIS_LONG_RANDOM_STRING
JWT_EXPIRES_IN=8h

# Arkesel USSD
ARKESEL_USSD_WEBHOOK_SECRET=CHANGE_THIS

# Giant SMS
GIANT_SMS_BASE_URL=https://api.giantsms.com/api/v1
GIANT_SMS_TOKEN=your_token
GIANT_SMS_SENDER_ID=DataHub

# MTN MoMo
MOMO_BASE_URL=https://proxy.momoapi.mtn.com
MOMO_COLLECTION_SUBSCRIPTION_KEY=
MOMO_COLLECTION_API_USER=
MOMO_COLLECTION_API_KEY=
MOMO_TARGET_ENVIRONMENT=mtnghana
MOMO_CALLBACK_URL=https://yourdomain.com/api/payments/momo/callback

# Hubtel
HUBTEL_BASE_URL=https://api.hubtel.com
HUBTEL_CLIENT_ID=
HUBTEL_CLIENT_SECRET=

# RemaData
REMADATA_BASE_URL=https://remadata.com/api
REMADATA_API_KEY=rd_live_your_secret_key

# Throttle
THROTTLE_TTL_SECONDS=60
THROTTLE_LIMIT=100

# Fulfillment
FULFILLMENT_MAX_RETRIES=3
FULFILLMENT_RETRY_DELAY_MS=5000